@font-face {
	font-family: FrutigerLTCondensed;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/Frutiger LT 67 Bold Condensed.ttf');
}
@font-face {
	font-family: FrutigerBlack;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Frutiger LT 75 Black.ttf');
}
@font-face {
	font-family: FrutigerLTCondensed;
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/Frutiger LT 47 Light Condensed.ttf');
}
@font-face {
	font-family: FrutigerCondensed;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/frutiger 57 light condensed.ttf');
}
